.container {
  .label {
    display: block;
    margin: 15px 0 4px;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #303030;
  }

  .input {
    display: block;
    width: 100%;
    padding: 16px 12px;
    background: #F9FAFB;
    border: 1px solid #DEDEE0;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .error {
    color: red;
  }
}